#header {
    background-image: url(../../../images/bg-pattern-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0px 135px;
    background-position: center;
    background-color: #f4f8fb;
}

#header ul li a {
    font-family: 'Poppins' !important;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    padding: 0px 15px;
    text-transform: uppercase;
    transition: ease .5s;
}

#header ul li {
    margin-bottom: 0px;
    line-height: 3;
    position: relative;
}

#header ul li:first-child a {
    padding-left: 0px;
}

#header ul li a:hover {
    color: #777;
}

#header ul li:after {
    position: absolute;
    content: ".";
    /* top: 0px; */
    font-size: 22px;
    bottom: 0px;
    /* left: 0; */
    /* right: 0; */
    /* margin: 0 auto; */
}

#header ul li:last-child:after {
    display: none;
}

.bigHi {
    padding: 80px 0px 0px;
}

.bigHi h1 {
    line-height: 150px;
    font-size: 150px;
    -webkit-text-stroke: 4px #999;
    -webkit-text-fill-color: #333;
}

.social-media {
    text-align: center;
    /* font-size: 35px; */
}

.social-media ul li a svg {
    font-size: 38px;
}

.social-media ul li:after {
    display: none;
}

.caption h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
}